* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin; 
  scrollbar-color: #aaa transparent; 
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background-color: #aaa; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

::-webkit-scrollbar-button {
  display: none; 
}

body {
  background: #f3f4f6;
  color: #161616;
}

.app {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sidebar-city-info {
  width: 100%;
  background: #fff;
}

.main-content {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

.sidebar-header {
  width: 85%;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.input-box {
  width: 85%;
  background: #f3f4f6;
  padding: 7px;
  border-radius: 15px;
  position: relative;
}

.search-icon {
  padding-inline: 5px;
  font-size: 0.9em;
}

.input-box input {
  outline: none;
  border: none;
  padding-inline: 5px;
  font-size: 0.85em;
  max-width: 85%;
  background: transparent;
}

.track-user {
  width: 32px;
  height: 32px;
  text-align: center;
  background-color: #f3f4f6;
  border-radius: 3px;
  line-height: 200%;
  box-shadow: 0px 0px 6px 1px #acacac;
  cursor: pointer;
  transition: box-shadow 200ms ease;
  position: relative;
}

.track-user i {
  transition: transform 100ms ease-in-out;
}

.track-user:hover {
  box-shadow: 0px 0px 6px 3px #acacac;
}

.track-user:hover i {
  transform: scale(1.2);
}

.track-user:hover .track-user-tooltip {
  opacity: 1;
}

.track-user-tooltip {
  position: absolute;
  top: -23px;
  left: -120px;
  font-size: 0.7em;
  display: block;
  line-height: normal;
  white-space: nowrap;
  background: #3e3e3e;
  border-radius: 10px;
  padding: 3px 8px;
  color: #fff;
  opacity: 0;
  transition: opacity 100ms ease;
}

.sidebar-main {
  width: 90%;
  margin: 15px auto;
  border-bottom: 1px solid #e2e2e2;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 15px;
}

.sidebar-image {
  width: 65%;
  margin: auto;
  text-align: center;
  display: block;
}

.sidebar-degrees {
  font-size: 3em;
  margin-top: -15px;
  font-weight: 300;
}

.sidebar-city-day {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  font-weight: 500;
}

.sidebar_city {
  font-size: 1.4em;
  margin-top: 5px;
  font-weight: 700;
  max-width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sidebar_day {
  font-size: 1.05em;
  text-align: right;
}

.sidebar_date {
  color: #878787;
  display: block;
}

.sidebar-footer {
  width: 90%;
  margin: auto;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  margin-bottom: 15px;
}

.sidebar-footer p {
  padding: 2px 0;
  font-size: 0.9em;
}

.sidebar-footer p i {
  margin-right: 5px;
}

.main-header {
  padding: 20px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main-title {
  text-align: center;
  filter: drop-shadow(0px 2px 4px rgb(169, 169, 169));
}

.main-settings {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  position: relative;
  background: #e7e7e7;
  border-radius: 15px;
  padding: 10px 20px;
}

.settings-item {
  box-shadow: 2px 2px 0px 1px #c7c7c7;
  margin-right: 8px;
  padding: 4px 15px;
  border-radius: 15px;
  font-weight: 600;
  cursor: pointer;
  font-size: 1.1em;
  font-family: "Lato", sans-serif;
  font-style: normal;
  transition: background 150ms ease-in-out;
}

.settings-item:hover {
  background: #c9c9c9;
}

.settings-item:nth-child(4) {
  margin-right: 0;
  color: rgb(240 196 25);
}

.settings-tooltip {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -35px;
  white-space: nowrap;
  text-align: center;
  background: #c9c9c9;
  padding: 3px 10px;
  color: #1b1b1b;
  font-size: 0.9em;
  border-radius: 15px;
  font-weight: 500;
  opacity: 0;
  visibility: hidden;
  transition: opacity 100ms ease-in-out;
}

.settings-item:hover ~ .settings-tooltip {
  opacity: 1;
  visibility: visible;
}

.forecast-next-days {
  width: 100%;
  padding: 5px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.forecast-item {
  background: #fff;
  width: 48%;
  text-align: center;
  padding: 10px 5px;
  border-radius: 10px;
  margin-top: 15px;
}

.item-icon {
  width: 60%;
  margin-top: 10px;
  margin-inline: auto;
}

.item-date {
  color: #838383;
}

.item-temp {
  padding-top: 10px;
  font-weight: 500;
  font-size: 1.05em;
}

.temp-night {
  color: #515152;
  font-size: 0.85em;
}

.next-hours-temp {
  width: 90%;
  margin: 20px auto;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.hourly-item {
  text-align: center;
  padding: 3px 10px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

.hourly-hour {
  font-weight: 700;
  padding-bottom: 5px;
}

.hourly-timeline {
  width: 18px;
  height: 18px;
  background: #f0c419;
  border-radius: 50%;
  position: relative;
  margin: auto;
}

.timeline-line {
  position: absolute;
  top: 50%;
  left: 100%;
  height: 3px;
  background: #f0c419;
  transform: translateY(-50%);
}

.hourly-item.last-in-row .timeline-line {
  display: none;
}

.hourly-temp {
  font-style: italic;
  font-weight: 500;
}

.cities-container {
  width: 98%;
  background: #f1f1f1;
  position: absolute;
  z-index: 1;
  top: 40px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px 10px;
  font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
  display: none;
  animation-name: showCities;
  animation-duration: 200ms;
  max-height: 320px;
  overflow: auto;
}

@keyframes showCities {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.cities-container h4 {
  font-size: 0.94em;
  font-weight: 500;
  margin-bottom: -5px;
}

.city-item {
  border-bottom: 1px solid #dadada;
  padding: 5px 10px;
  position: relative;
  cursor: pointer;
  transition: background 100ms ease-in-out;
}

.city-item:last-child {
  border: none;
}

.city-item:hover {
  background: #e4e4e4;
}

.city-item-region {
  font-size: 0.8em;
  color: #4d4d4d;
}

.city-item-flag {
  width: 25px;
  position: absolute;
  right: 10px;
  top: 7px;
  box-shadow: 0px 0px 10px -2px #3e3e3e;
}

.loading-cities {
  width: 100%;
  height: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.loader-cities {
  width: 48px;
  height: 48px;
  border: 5px solid #8d8d8d;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.no-results {
  font-size: 0.85em;
  text-align: center;
  padding: 5px;
}

.current-weather-container {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.current-weather-container h3 {
  width: 100%;
}

.current-weather-item {
  background: #fff;
  width: 25%;
  text-align: center;
  margin-top: 15px;
  border-radius: 10px;
  padding: 10px 15px;
}

.current-weather-item h4 {
  font-weight: 600;
  text-align: left;
  color: #838383;
}

.card-icon {
  width: 80%;
  text-align: center;
  margin: auto;
}

