* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f3f4f6;
  color: #161616;
}

.app {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sidebar-city-info {
  width: 100%;
  background: #fff;
}

.main-content {
  width: 100%;
}

.sidebar-header {
  width: 85%;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.input-box {
  width: 85%;
  background: #f3f4f6;
  padding: 7px;
  border-radius: 15px;
}

.search-icon {
  padding-inline: 5px;
  font-size: 0.9em;
}

.input-box input {
  outline: none;
  border: none;
  padding-inline: 5px;
  font-size: 0.85em;
  max-width: 85%;
  background: transparent;
}

.track-user {
  width: 32px;
  height: 32px;
  text-align: center;
  background-color: #f3f4f6;
  border-radius: 3px;
  line-height: 200%;
  box-shadow: 0px 0px 6px 1px #acacac;
  cursor: pointer;
  transition: box-shadow 200ms ease;
  position: relative;
}

.track-user i {
  transition: transform 100ms ease-in-out;
}

.track-user:hover {
  box-shadow: 0px 0px 6px 3px #acacac;
}

.track-user:hover i {
  transform: scale(1.2);
}

.track-user:hover .track-user-tooltip {
  opacity: 1;
}

.track-user-tooltip {
  position: absolute;
  top: -23px;
  left: -120px;
  font-size: 0.7em;
  display: block;
  line-height: normal;
  white-space: nowrap;
  background: #b9b9d0;
  border-radius: 10px;
  padding: 3px 8px;
  color: #36326f;
  opacity: 0;
  transition: opacity 100ms ease;
}

.sidebar-main {
  width: 90%;
  margin: 20px auto;
  border-bottom: 1px solid #e2e2e2;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 15px;
}

.sidebar-image {
  width: 65%;
  margin: auto;
  text-align: center;
  display: block;
}

.sidebar-degrees {
  font-size: 3em;
  margin-top: -15px;
  font-weight: 300;
}

.sidebar-city-day {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  font-weight: 500;
}

.sidebar_city {
  font-size: 1.4em;
  margin-top: 5px;
  font-weight: 700;
  max-width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sidebar_day {
  font-size: 1.05em;
  text-align: right;
}

.sidebar_date {
  color: #878787;
  display: block;
}
